@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth@0,87.5;1,87.5&display=swap');
body{
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    color: #111;
    line-height:1 ;
}
.headline{
    text-align: center;
    margin: 20px 0px;
}
h2{
    font-size:18px;
    color: #555;
    padding: 10px 20px;
    text-transform: uppercase;
    border:1px solid #bca8a8;
    display:inline-block;/*cho khung vừa với chữ*/
    font-weight: 600;
}
.product-grid .product-image{
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.product-grid .product-image a.image{display: block; }
.product-grid .product-image img{
    width: 100%;
    height: auto;
}
.product-grid .product-image .img-1{ transition: all 0.3s ease 0s; }
.product-grid:hover .product-image .img-1{ opacity: 0; }
.product-grid .product-image .img-2{
    width: 100%;
    height: 100%;
    opacity: 0;
    backface-visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: all 0.3s ease 0s;
}
.product-grid:hover .product-image .img-2{ opacity: 1; }
.product-grid .product-hot-label,
.product-grid .product-discount-label{
    color: #fff;
    background: #ff6f00;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 3px 10px;
    position: absolute;
    top: 10px;
    left: 10px;
}
.product-grid .product-discount-label{
    background: #ff3939;
    left: auto;
    right: 10px;
}
.product-grid .product-view{
    color: #fff;
    background:#000;
    font-size: 16px;
    text-align: right;
    line-height: 50px;
    width: 60px;
    height: 60px;
    padding: 0 16px 0 0;
    border-radius: 50px;
    opacity: 0;
    transform: scale(0);
    position: absolute;
    bottom: -40px;
    left: -40px;
    transition: all .3s ease;
}
.product-grid:hover .product-view{ 
    opacity: 1;
    transform: scale(1);
    bottom: -20px;
    left: -20px;
}
.product-grid .product-view:hover{ background: #ff6f00; }
.product-grid .product-links{
    padding: 0;
    margin: 0;
    list-style: none;
    transform: translateY(50%);
    position: absolute;
    bottom: 50%;
    right: 10px;
    z-index: 1;
}
.product-grid .product-links li{
    margin: 5px 0;
    opacity: 0;
    transform: translateX(100%);
    transition: all .3s ease;
}
.product-grid .product-links li:nth-child(2){ transition-delay: .1s; }
.product-grid .product-links li:nth-child(3){ transition-delay: .2s; }
.product-grid:hover .product-links li{
    opacity: 1;
    transform: translateX(0); 
}
.product-grid .product-links li a{
    color: #000;
    background: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 33px;
    width: 35px;
    height: 35px;
    border: 1px solid #000;
    display: block;
    transition: all .3s ease;
}
.product-grid .product-links li a:hover{
    color: #fff;
    background:#ff6f00; 
    border-color: #ff6f00;
}
.product-grid .product-content{
    background: #fff;
    padding: 15px 0 0;
}
.product-grid .rating{
    color: #f7bc3d;
    font-size: 11px;
    padding: 0;
    margin: 0 0 8px;
    list-style: none;
}
.product-grid .rating li{ display: inline-block; }
.product-grid .rating .disable{ color: #a3a3a3; }
.product-grid .title{
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0 0 8px;
    
}
.product-grid .title a{
    color: #333;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    font-size:large;
}
.product-grid .title a:hover{ color: #ff6f00; }
.product-grid .price{
    color: #ff6f00;
    font-size: 15px;
    font-weight: 500;
    font-size: large;
    
    
}
.product-grid .price span{
    color: #999;
    font-size: 14px;
    font-weight: 400;
    text-decoration: line-through;
    margin-right: 5px;
}
.container{
    
    margin: 100px auto;
    width: 1400px;
}
.col-md-3 {
    width: 23%;
    margin-left: 20px;
    margin-bottom: 25px;
}
.row{
    margin-top:-50px;
}
.row .col-md-3{
    box-shadow: 1px 3px 6px #ccc;   
}
h1{
    text-align: center;
    
}
.product-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh; /* Chiều cao của container sẽ bằng chiều cao của viewport */
    font-family: 'Open Sans',sans-serif;
}
.product-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5); /* Màu của khung mờ */
    filter: blur(10px); /* Độ mờ của khung mờ */
    z-index: -1; /* Đặt khung mờ phía dưới các phần tử khác */
}
.product-content {
    display: flex;
    align-items: center;
}

.product-image img {
    width: 400px;
    height: 400px; /* Đặt chiều cao */
    object-fit: cover; /* Cắt ảnh để giữ tỷ lệ */
    transition: transform 0.3 ease, box-shadow 0.3s ease; /* Tạo hiệu ứng chuyển đổi mềm mại */
    border: 5px solid transparent; /* Tạo viền trong suốt */
}
.product-image img:hover {
    transform: scale(1.1); /* Phóng to ảnh lên 200% khi hover */
    box-shadow: 0 0 20px 5px rgba(213, 91, 91, 0.981), 0 0 30px 10px rgba(255, 0, 187, 0.7); /* Tạo viền lấp lánh với màu blue */
    
}

.product-info {
    
    margin-left: 100px;
    margin-top: 0px;
    
    
}
.product-container .product-info {
    position: relative;
}
@media (max-width: 768px) {
    .product-container {
        flex-direction: column;
    }
    .product-content {
        flex-direction: column;
    }
    .product-info {
        margin-left: 0; /* Xóa margin trái */
        margin-top: 20px; /* Thêm margin phía trên */
    }
}
h1 {
    font-size: 36px;
    transition: filter 0.3s ease; /* Tạo hiệu ứng chuyển đổi mềm mại */
}

h1:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Tạo hiệu ứng shadow khi hover */
}


.p{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.83);
    
}




@media screen and (max-width: 990px){
    .product-grid{ margin-bottom: 30px; }
}
@media screen and (max-width: 1300px){
    .container{
        margin: 100px auto;
        width: 1200px;
    }
}

