.product-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh; /* Chiều cao của container sẽ bằng chiều cao của viewport */
    font-family: 'Open Sans',sans-serif;
}
.product-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5); /* Màu của khung mờ */
    filter: blur(10px); /* Độ mờ của khung mờ */
    z-index: -1; /* Đặt khung mờ phía dưới các phần tử khác */
}
.product-content {
    display: flex;
    align-items: center;
}

.product-image img {
    width: 400px;
    height: 400px; /* Đặt chiều cao */
    object-fit: cover; /* Cắt ảnh để giữ tỷ lệ */
    transition: transform 0.3 ease, box-shadow 0.3s ease; /* Tạo hiệu ứng chuyển đổi mềm mại */
    border: 5px solid transparent; /* Tạo viền trong suốt */
}
.product-image img:hover {
    transform: scale(1.1); /* Phóng to ảnh lên 200% khi hover */
    box-shadow: 0 0 20px 5px rgba(213, 91, 91, 0.981), 0 0 30px 10px rgba(255, 0, 187, 0.7); /* Tạo viền lấp lánh với màu blue */
    
}

.product-info {
    
    margin-left: 100px;
    margin-top: 0px;
    
    
}
.product-container .product-info {
    position: relative;
}
@media (max-width: 768px) {
    .product-container {
        flex-direction: column;
    }
    .product-content {
        flex-direction: column;
    }
    .product-info {
        margin-left: 0; /* Xóa margin trái */
        margin-top: 20px; /* Thêm margin phía trên */
    }
}
h1 {
    font-size: 36px;
    transition: filter 0.3s ease; /* Tạo hiệu ứng chuyển đổi mềm mại */
}

h1:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Tạo hiệu ứng shadow khi hover */
}


.p{
    font-size: 20px;
    color: rgb(0, 0, 0);
    
}



